   .tool{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home{
    margin-right: auto;
    margin-left: auto;
  }

  .rapat {
    margin-left: 5px;
    margin-right: 5px;
  }