<ion-content>
  <ion-card class="center">
    <img alt="Tempat Kopi kanthi" src="assets/Tempat Kopi kanthi 1.png" />
  </ion-card>
  <div class="avatar">
    <img alt="Logo Kopi Kanthi" src="assets/Logo Kopi Kanthi 1.svg" />
  </div>
  <ion-card class="Info-bisnis">
    <ion-card-title>Kopi kanthi</ion-card-title>
    <ion-card-subtitle>WeekDay 17:00 - 00:00</ion-card-subtitle>
    <ion-card-subtitle>WeekDay 17:00 - 00:00</ion-card-subtitle>
    <ion-card-content>
      Perumahan Taman Jaya 
      (Jalur, sebelah kiri, Kec. Cipondoh) Kota Tangerang, Banten 15148
    </ion-card-content>
  </ion-card>
  <ion-button shape="round" class="rectangle-5" (click)="goToMenuPage()">Lihat Menu</ion-button>
</ion-content>