<ion-header> 
  <ion-toolbar> 
    <ion-buttons slot="start" color="light"> 
      <ion-back-button defaultHref="/homescreen" class="ion-back-button" text=""></ion-back-button> 
    </ion-buttons> 
    <ion-title style="text-align: center;">Kopi Kanthi</ion-title> 
    <ion-buttons slot="end"> 
      <ion-icon name="home" src="assets/Mask group.svg"></ion-icon> 
    </ion-buttons> 
  </ion-toolbar> 
</ion-header> 

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Total : {{ cartService.calculateTotalAmount () | currency: 'IDR' }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-content>
      <ion-label>Silahkan lakukan pembayaran ke kasir dengan memberitahukan nomor meja anda</ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-label>Pembayaran melalui transfer bisa melalui no.rek BCA - 14357890 - Faulan </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>Terima Kasih dan selamat menikmati - KOPI KANTHI </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>