<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cart" class="ion-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/Mask group.svg" (click)="goToMenuPage()" height="30px"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Total Pembayaran</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-label>Bayar di Kasih</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>Bayar via Transfer</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>