page-tampilan-awal-2 {
    .tampilan-awal-2 {
      text-align: center;
      padding-top: 5px;
  
      .rectangle-2 {
        width: 100%;
        height: 160px;
        background: #EB0000;
      }
  
      .tempat-kopi-kanthi-1 {
        margin-top: -85px;
        width: 170px;
        height: 170px;
        border-radius: 50%;
      }
  
      .kopi-kanthi {
        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        color: #EB0000;
      }
  
      .week-day-17-00-00-00,
      .weekend-17-00-01-00 {
        font-family: Roboto;
        font-size: 12px;
        color: #9B9B9B;
      }
  
      .perumahan-taman-jaya-jalur-sebelah-kiri-kec-cipondoh-kota-tangerang-banten-15148 {
        font-family: Roboto;
        font-size: 10px;
        color: #9B9B9B;
      }
  
      .vector {
        margin-top: 10px;
        fill: #EB0000;
      }
  
      .ios-call-2,
      .ios-logo-whatsapp,
      .ios-locate {
        margin-top: 20px;
        font-size: 30px;
        color: #EB0000;
      }
  
      .hubungi,
      .chat,
      .petunjuk-arahan {
        margin-top: 10px;
        font-family: Roboto;
        font-size: 14px;
        color: #EB0000;
      }
    }
  }
  